################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimulateBranchStrategy/.vs/SimulateBranchStrategy
/SimulateBranchStrategy/SimulateBranchStrategy/bin/Debug/netcoreapp3.1
/SimulateBranchStrategy/SimulateBranchStrategy/obj
/.vs
